* {
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #C14040;
    color: #fff;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 90%; 
    border-radius: 25px;
    background-color: #fff;
    color: black;
    font-family: 'Bree Serif', serif;
    margin: 1rem;
}

h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#load-more-button {
    background-color: #fff; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: ease 0.3s all;
}
#load-more-button:hover {
    background-color: black; 
    color: #fff; 
    transition: ease 0.3s all;
  }

  #pokemon-list{
    /* height: 80%;
    width: 80%; */
    display: flex;
    flex-flow: row wrap;  
    align-items: center;
    justify-content: center;   
  }
  
  /* Style pour les éléments résultants (cartes Pokémon par exemple) */
  .pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #982c2c;
    font-size: 1rem;
    color:#fff;
    border-radius: 10px;
    margin: 1rem;
   
    /* Styles pour chaque carte Pokemon, comme la couleur de fond, la bordure, etc. */
    /* Ajoutez ici les styles pour afficher les cartes Pokémon */
  }
  
  .pokemon-img {
    height: 70%;
    width: 60%;    
    display: flex;
    justify-content: center;
    margin: 0.5rem

}
.pokemon-infos {
    height: 30%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  footer{
    height: 5%;
    font-size: 0.8rem;
    margin: 0.5rem;
    text-align: center;
  }