:root {
  /* Couleurs arrière plan et éléments */
  --primary-background-color: #C14040;
  --pokemon-card-background-color: #982c2c;
  --accent-color: #E5543C;
  --dark-background-color: #383E42;
  --light-background-color: #F5E4E5;

  /* Couleurs textes */
  --header-title-color: #F5E4E5;
  --body-text-color: #fff;

  /* Couleurs filtres pokemons */
  --filters-container-background-color: #fff;

  /* Couleurs barre de recherche */
  --search-bar-border-color: #ccc;
  --search-bar-text-color: #383E42;

  /* Couleurs bouton filtre types pokemons */
  --pokemons-types-list-background-color: #F5E4E5;
  --pokemons-types-list-border-color: #ccc;
  --pokemons-types-list-title-color: #383E42;
  --pokemons-types-list-btn-3dEffect-color: #383E42;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--primary-background-color);
  color: var(--body-text-color);
  overflow-x: hidden;
  font-family: 'Press Start 2P', system-ui;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 25px;
  margin: 1rem;
  padding: 1.2rem;
}

/*LOGO ET NOM DU SITE*/
.header__pokedex-retro-js {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.header__pokedex-retro-js__logo {
  height: 180px;
}

.header__pokedex-retro-js__title {
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--header-title-color);
  text-align: center;
  text-transform: uppercase;
}

/*FILTRES: BARRE DE RECHERCHES ET BOUTONS TYPES POKEMONS*/





main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* SECTION HERO */
.hero {
  width: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;  
}

.hero__image {
  height: 200px;
}

.hero__title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}

/* SECTION FILTRES */
.filters-container {
  background-color: var(--filters-container-background-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 1.3rem;
}
/* BARRE DE RECHERCHE */
.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom:1rem;
  margin-bottom: 1rem;
}

#search-input {
  width: 100%;
  font-family: 'Press Start 2P', system-ui;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--search-bar-border-color);
  border-left: none;
  font-size: 12px;
  outline: none;
  color: var(--search-bar-text-color);
  overflow: hidden;
}

#search-input:focus::placeholder {
  color: transparent;
}

/*Icône: search */
.search-bar__search-icon {
  color: var(--accent-color);
  border: 1px solid var(--search-bar-border-color);
  border-right: none;
  padding: 0 8px 0 8px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}

/* Bouton reset barre recherche */
#reset-search-button {
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-background-color);
  color: var(--reset-btn-text-color);
  border-radius: 0 4px 4px 0;
  padding: 0 10px 0 10px;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*Boutons reset survol*/
#reset-search-button:hover,
#reset-filter-button:hover {
  background-color: var(--accent-color);
}

/*FILTRE TYPES POKEMONS*/
.types-list {
  width: 100%;
  background-color: var(--pokemons-types-list-background-color);
  padding: 1rem;
  border-radius: 25px;
}

.types-list__header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0.8rem 0;
  margin-bottom: 12px;
}

.types-list__header-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-right: 1rem;
  color: var(--pokemons-types-list-title-color);
}

/* Bouton reset des filtres de type de Pokemons */
#reset-filter-button {
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  color: var(--body-text-color);
  padding: 8px;
}

/*Icône: close */
#reset-filter-button .material-symbols-outlined {
  font-size: 24px;
}

.types-list__filters-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
}

/*Bouton filtre type pokemon*/
.type-filter-button {
  margin: 0.3rem;
  padding: 8px;
  min-width: fit-content;
  width: 30%;
  max-width: 30%;
  font-family: 'Press Start 2P', system-ui;
  font-size: 12px;
  border: 2px solid black;
  color: var(--body-text-color);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  cursor: pointer;

  /*/ effet 3D  */
  position: relative;
  display: inline-block;
  border-radius: 12px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  z-index: 1;
  opacity: 1;
}

.type-filter-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--pokemons-types-list-btn-3dEffect-color);
  border-radius: inherit;

  /*/ EFFET 3D  */
  box-shadow: 0 0 0 2px black, 0 0.525em 0 0 rgba(0, 0, 0, 0.19);
  /*bordure et ombre de la profondeur sous bouton*/
  transform: translate3d(0, 0.75em, -1em);
  /* effet de profondeur: axe z */
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  z-index: -1
}

/*/ effet 3D : bouton légèrement appuyé*/
.type-filter-button:hover {
  transform: translate(0, 0.25em);
  z-index: 2;
}

.type-filter-button:hover::before {
  box-shadow: 0 0 0 2px black, 0 0.4em 0 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0.5em, -2em);
  z-index: -2;
}

/* Boutons de filtre actifs des types de Pokemons - effet 3D : bouton appuyé */
.type-filter-button.active {
  transform: translate(0em, 0.75em);
  border: 3px solid var(--pokemons-types-list-btn-3dEffect-color);
}

.type-filter-button.active::before {
  box-shadow: 0 0 0 2px black, 0 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, -1em);
  z-index: -2;
}



/* SECTION LISTE CARTES POKEMONS */
#pokemons-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  gap: 0.8rem;
}

/* Carte pokemon*/
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 320px;
  background-color: var(--pokemon-card-background-color);
  border-radius: 50%;
  margin: 0.5rem 1.2rem 0.5rem 1.2rem;
  padding: 2rem;

}

.pokemon-img {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
  filter: sepia(50%) saturate(150%);
}



.pokemon-card:hover .pokemon-img {
  transform: scale(1.15);
  /* Augmente la taille de 20% */
  filter: none;
}


/*Informations pokemon: numéro index et nom*/
.pokemon-infos {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', system-ui, 'Noto Sans JP', sans-serif;
}

.pokemon-identification {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--body-text-color);
}

/*Types pokemon*/
.pokemon-types-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pokemon-type {
  padding: 6px;
  font-size: 10px;
  border: 2px solid black;
  color: var(--body-text-color);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

/* Bouton scroll to top page */
#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--body-text-color);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scroll-to-top:hover {
  background-color: var(--light-background-color);
}

#scroll-to-top .material-symbols-outlined {
  font-size: 24px;
  font-weight: bold;
}

#scroll-to-top:hover .material-symbols-outlined {
  color: var(--accent-color);
}

footer {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--dark-background-color);
  font-family: 'Press Start 2P', system-ui;
  font-size: 0.8rem;
  padding: 1rem;
}

.footer__logo {
  height: 150px;
}

.footer__infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  line-height: 1.3rem;
}


footer a {
  color: var(--accent-color);
  text-decoration: none;
}

/* Responsive: Media queries tablette */
@media screen and (min-width: 768px) {
  .hero__image {
    height: 400px;
  }

  .search-bar {
    width: 80%;
  }

  #search-input {
    font-size: 14px;
  }

  #pokemons-list {
    flex-flow: row wrap;
  }

  .type-filter-button {
    width: 8rem;
    margin-right: 0.5rem;
  }

}

/* Responsive: Media queries desktop*/
@media screen and (min-width: 1024px) {
  .hero {
    flex-flow: row nowrap;
    max-width: 70%;
  }

  .hero__image {
    height: 500px;
  }

  .hero__title {
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
  }

  .filters-container {
    max-width: 80%;
    padding: 2rem;
  }

  .types-list__header {
    justify-content: flex-start;
    width: 80%;
    margin-left: 2.5rem;
  }

  .type-filter-button {
    margin: 0.4rem;
  }

  #search-input {
    font-size: 1rem;
  }

  #pokemons-list {
    width: 90%;
    margin-top: 1rem;
  }

  .pokemon-card {
    height: 340px;
    width: 340px;
  }

  .pokemon-identification {
    font-size: 1.1rem;
  }

  #scroll-to-top .material-symbols-outlined {
    color: #982c2c;
    font-size: 32px;
  }

}